<div class="main">
    <div class="title">
        <h2>{{question.label}} </h2> 
    </div>
    
    <div class=container>
        <button onmousedown="event.preventDefault();" class = "answer" id="answer-1" (click)="returnAnswer(0)">{{question.answer[0].answer}}</button>
        <button onmousedown="event.preventDefault();" class = "answer" id="answer-2" (click)="returnAnswer(1)">{{question.answer[1].answer}}</button>
        <button onmousedown="event.preventDefault();" class = "answer" id="answer-3" (click)="returnAnswer(2)">{{question.answer[2].answer}}</button>
        <button onmousedown="event.preventDefault();" class = "answer" id="answer-4" (click)="returnAnswer(3)">{{question.answer[3].answer}}</button>
    </div>

    <div class="record">
        <img *ngIf="recordVoice" id="micro-icon" src="https://cdn2.iconfinder.com/data/icons/Siena/256/microphone%20red.png" >
        <div *ngIf="recordVoice"  class="recordProgression">
            <div class="progress-value"></div>
        </div>
    </div>
<!--
    <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
    </audio>
    <label *ngIf="url">{{blob.size}}</label>-->
</div>