.main{
    /*min-height: 100vh;*/
    background: rgb(18, 1, 39);
    color:white;
}

.title{
    margin:30px;
    margin-left:80px;
    font-size: 28px;
    display:flex;
    flex-direction: column;
}



.container{
    margin-top:5%;
    font-size: 20px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.answer{
    color:white;
    list-style-type: none;
    border-radius: 10px;
    border:1px solid gray;
    margin:30px;
    padding: 30px;
    font-size: 20px;
    flex-basis: 20%;
    min-width: 46%;
    box-shadow: 2px 2px 8px rgb(82, 49, 139);
}

.answer:hover {
    opacity:0.85;
}

#answer-4{
    background-color: rgb(15, 196, 15);
}

#answer-3{
    background-color: rgb(206, 146, 16);
}

#answer-2{
    background-color: rgb(16, 168, 206);
    border:none;
}

#answer-1{
    background-color: rgb(206, 16, 16);
}

