<div class="main">

    <nav class="navbar">
        <ul>
          <li (mouseover)="homeHover = true" (mouseleave)="homeHover = false">
            <a routerLink="/home" routerLinkActive="active">
              <fa-icon [icon]="faHouse"></fa-icon>
              <!--<span  *ngIf = "homeHover">   Menu</span>  -->
            </a>
          </li>
          <li (mouseover)="analyticsHover = true" (mouseleave)="analyticsHover = false">
            <a routerLink="/analytics" routerLinkActive="active">
              <fa-icon [icon]="faBarChart"></fa-icon>
              <!--<span  *ngIf = "analyticsHover">   Stats</span>  -->
            </a>
          </li>
    
          
          <li style="float:right">
            <a routerLink="/" routerLinkActive="inactive">
             <fa-icon [icon]="faSignIn"></fa-icon> 
            </a>
          </li>
          
        </ul>
    </nav>
    
    
    <div class="container">
      <div class="icon-table">
        <li *ngFor="let icon of quizzIcons; index as i" class="icon">
          <fa-icon [icon]="icon" (click)="startQuizz(i+1)"></fa-icon>
        </li>
      </div>
    </div>
</div>

